address=/.apps.###DOMAIN###/###LB###
srv-host="_etcd-server-ssl._tcp.###DOMAIN###",etcd-0.###DOMAIN###,2380,10,0
srv-host="_etcd-server-ssl._tcp.###DOMAIN###",etcd-1.###DOMAIN###,2380,10,0
srv-host="_etcd-server-ssl._tcp.###DOMAIN###",etcd-2.###DOMAIN###,2380,10,0
